<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>我的收藏</string>
		<key>image</key>
		<string>collection</string>
	</dict>
	<dict>
		<key>title</key>
		<string>播放历史</string>
		<key>image</key>
		<string>history</string>
	</dict>
	<dict>
		<key>title</key>
		<string>清理缓存</string>
		<key>image</key>
		<string>clear</string>
	</dict>
	<dict>
		<key>title</key>
		<string>定时关机</string>
		<key>image</key>
		<string>close</string>
	</dict>
</array>
</plist>
